@import url(/main.css);
@import url(/responsive.css);
/* Banner IMG */
.banner-img-container {
  position: relative;
}
.text-overlay-container {
  font-family: "Quintessential", cursive;
  color: var(--primary-color);
  position: absolute;
  right: 8%;
  top: 30%;
  font-size: 1.7rem;
}
.shop-now-btn {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
  margin-left: 35%;
  background: var(--primary-color);
  color: var(--accent-color);
  border-radius: 5px;
  padding: 1rem 1.5rem;
}
.shop-now-btn:hover {
  background: var(--accent-color);
  color: var(--primary-color);
}

@media screen and (max-width: 1300px) {
  .card-display-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 950px) {
  .card-display-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .card-display-container {
    grid-template-columns: 1fr;
  }
}
