@import url("https://grapheneui.netlify.app/Components/components.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Quintessential&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f5f5f5;
  --secondary-color: #e4e3e3;
  --accent-color: #be1111;
  --black: #1b1717;
  --navbar-height: 12vh;
  --category-bar-height: 6vh;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  background-color: var(--primary-color);
}
/* utilities */
.flex {
  display: flex;
}
.sp-bwtn {
  justify-content: space-between;
}
.flex-clm {
  display: flex;
  flex-direction: column;
}
.sp-around {
  justify-content: space-around;
}
.align-itm-c {
  align-items: center;
}
.gap-10 {
  gap: 10px;
}
.margin-vert {
  margin-bottom: 1rem;
}
.margin-top {
  margin-top: 1rem;
}
.margin-btm {
  margin-bottom: 1rem;
}
/* navbar */
.gu-navbar {
  background: var(--black);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 12vh;
}
.logo {
  object-fit: cover;
  width: 5rem;
}
.nav-logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-logo a {
  color: var(--primary-color);
}
.nav-list {
  margin: 0;
  gap: 10px;
}
/* navbar search  */
.nav-search-div {
  display: inline-flex;
  flex-wrap: nowrap;
  width: 20rem;
}
.nav-search {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.search-icon {
  padding: 1rem;
  background: var(--primary-color);
  color: var(--black);
  margin: 0;
  gap: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* navabar icons */
.gu-icon {
  color: var(--primary-color);
  font-size: 1.5rem;
}
.gu-badge {
  margin: 0;
}
.notify-num {
  background: var(--accent-color);
}
#login-btn {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--accent-color);
  padding: 10px 20px;
  font-weight: 600;
  margin-left: 1rem;
}
#btn-ham-burger {
  background-color: transparent;
  color: var(--primary-color);
  border: 0;
  font-size: 1.6rem;
  margin-right: 2rem;
  display: none;
}
.hamBurger-div {
  background: var(--black);
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem 2rem;
  transition: 0.3s;
  border-bottom-left-radius: 1.3rem;
  z-index: 5;
  display: none;
}
.hamBurger-div ul {
  margin: 1rem;
  font-size: 1.2rem;
}
.hamBurger-div ul a {
  color: var(--primary-color);
}
.close-sideBar-btn {
  margin-top: 1rem;
  margin-left: auto;
  color: var(--primary-color);
  font-size: 1.5rem;
}
/* nav-category */
.nav-category {
  background-color: var(--accent-color);
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  height: var(--category-bar-height);
}
.nav-category a {
  color: var(--primary-color);
}
/* card */
.card-info {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  color: var(--primary-color);
  font-size: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-title {
  font-size: 1.2rem;
}
.card-display-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 5rem;
}
.grid-container {
  width: 85%;
  margin: 2rem auto;
}

/* section feautured */
.featured-cards {
  margin: 2rem 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.section-title {
  color: var(--accent-color);
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin: 1rem;
}
.offer-info {
  color: var(--success);
}
/* footer */
.footer {
  width: 100%;
  background: var(--black);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
  color: var(--primary-color);
  gap: 1rem;
}
.footer a {
  text-decoration: none;
  color: var(--primary-color);
}
.footer-icon-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.footer-icon {
  font-size: 1.5rem;
}
.footer-titles {
  margin-left: -1rem;
  margin-bottom: 0.5rem;
}
.footer-text {
  font-size: 1rem;
  margin: 1rem 0 0 -4.2rem;
}
